@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: "Maples";
  src: url("/fonts/Jersey M54.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Franklin Gothic Medium';
}

.container { max-width: 1200px; }


@font-face {
  font-family: "external font";
  src: url("/fonts/ELEGANT TYPEWRITER Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}